.vs/
Library/
Logs/
obj/
UserSettings/
Algorithm.csproj
Algorithm.sln
Algorithm.userprefs
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Temp/
Unity.2D*
UnityEditor.UI.csproj
UnityEngine.UI.csproj